body{
	font-size: 16px;
}

hr{
	margin:  50px 0px;
}

#home,#group-section{
	margin-top: 80px;
}
.name{
	font-weight: bold;
}

.top10{
	margin-top: 10px;
}

.demo-container{
	font-size: 12px;
}
.border{
	border: 1px solid #000;
	height: 300px;
	max-height: 300px !important;
	overflow:auto;
}

.onlineUserList .row{
	border-bottom: 1px solid gray;
	padding: 5px 0px;
}

.onlineUser:hover{
	cursor: pointer;
	background-color: #269abc;
}
.groupMsg .avatar-pic{
	margin-left: 8px;
}

.name,.chatWith{
	font-weight: bold;
}
.chatWith{
	text-transform: capitalize;
	font-size: 1.8em;
}

.msg{
	margin-bottom: 5px;
}

.groupSendBtn,.privateSendBtn{
	padding: 12px;
}

.topArea{
	background-color: #ccc;
	height: 30px;
	color: white;
	border: 1px solid #000;
	border-bottom: 0px;
	padding-top: 3px;
}
.privateChatBox .audio:hover,.privateChatBox .closeBox:hover, .privateChatBox .topArea{
	cursor: pointer;
}
.privateChatBox{
	margin-right: 5px;
	background: aliceblue;
	position: absolute;
	bottom: 0px;
}
/*.onlineUser:first-child, .groupMsg:first-child,.privateChatBox:first-child,.privateMsg{
  display: none;
}*/
.audio{
	margin-right: 10px;
}

.privateMsgList{
	border: 1px solid #000;
	height: 300px;
	max-height: 300px !important;
	overflow:auto;
	padding-top: 10px;
}

.audio.start{
	color: green;
}

.audio.stop{
	color: red;
}

.np{
	padding-left: 0px;
	padding-right: 0px;
}
.privateMsg{
	background-color: #fff;
}
.topGroupheader{
	background-color: #269abc;
	color: #fff;
}
.timestamp{
	font-size: .80em;
}

.privateChatBox .audio,.privateChatBox .closeBox{
	font-size: 1.8em;
}
.api-img{
	margin: 10px;
	padding: 10px;
}