body{
	font-size: 16px;
}

hr{
	margin:  50px 0px;
}

#home,#group-section{
	margin-top: 80px;
}
.name{
	font-weight: bold;
}

.top10{
	margin-top: 10px;
}

.border{
	border: 1px solid #000;
	height: 300px;
	max-height: 300px !important;
	overflow:auto;
}

.onlineUserList .row{
	border-bottom: 1px solid gray;
	padding: 5px 0px;
}

.onlineUser:hover{
	cursor: pointer;
	background-color: #269abc;
}
.avatar-pic{
	margin-left: 8px;
}

.name,.chatWith{
	font-weight: bold;
}
.msg{
	margin-bottom: 5px;
}

.groupSendBtn,.privateSendBtn{
	padding: 12px;
}

.topArea{
	background-color: gray;
	height: 30px;
	color: white;
	border: 1px solid #000;
	border-bottom: 0px;
	padding-top: 3px;
}
.audio:hover,.closeBox:hover{
	cursor: pointer;
}
.privateChatBox{
	margin-right: 5px;
}
.onlineUser:first-child, .groupMsg:first-child,.privateChatBox:first-child,.privateMsg{
  display: none;
}
.audio{
	margin-right: 10px;
}

.privateMsgList{
	border: 1px solid #000;
	height: 300px;
	max-height: 300px !important;
	overflow:auto;
}

.audio.start{
	color: green;
}

.audio.stop{
	color: red;
}